<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guest.mapper.CostMapper">

    <select id="getCostByRoomId" resultType="cost" parameterType="string">
        select * from cost where room_id = #{roomId};
    </select>

    <update id="settleCostByRoomId" parameterType="string" >
        update cost set state = 11 where room_id = #{roomId} and (state = 0 or state = 1);
    </update>

    <select id="getNotCostNum" parameterType="string" resultType="int">
        select count(*) from cost where state = 0 and room_id = #{roomId};
    </select>

    <delete id="removeByCostTypeId" parameterType="int">
        delete from cost where cost_type_id = #{id};
    </delete>

    <delete id="removeByRoomId" parameterType="string">
        delete from cost where room_id = #{id};
    </delete>
</mapper>
