<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel=stylesheet href=//at.alicdn.com/t/font_830376_qzecyukz0s.css>
    <link rel=icon href=./favicon.ico>
    <title>hotel-manage-system</title>
    <link href=/css/dashboard.0b3c54bd.css rel=prefetch>
    <link href=/css/home.5c61c3bf.css rel=prefetch>
    <link href=/css/login.3b04cf73.css rel=prefetch>
    <link href=/css/permission.09c9f0fe.css rel=prefetch>
    <link href=/css/table.53bb3690.css rel=prefetch>
    <link href=/css/tabs.13324337.css rel=prefetch>
    <link href=/js/dashboard.1f1d6873.js rel=prefetch>
    <link href=/js/home.72cde3d9.js rel=prefetch>
    <link href=/js/login.4e579b91.js rel=prefetch>
    <link href=/js/permission.cd3f9106.js rel=prefetch>
    <link href=/js/table.7e8a4814.js rel=prefetch>
    <link href=/js/tabs.7c02b1ab.js rel=prefetch>
    <link href=/css/app.2b293855.css rel=preload as=style>
    <link href=/css/chunk-vendors.635bc84a.css rel=preload as=style>
    <link href=/js/app.87e09796.js rel=preload as=script>
    <link href=/js/chunk-vendors.531c82d1.js rel=preload as=script>
    <link href=/css/chunk-vendors.635bc84a.css rel=stylesheet>
    <link href=/css/app.2b293855.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but vms doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/js/chunk-vendors.531c82d1.js></script>
<script src=/js/app.87e09796.js></script>
</body>
</html>